@model IEnumerable<ResidentViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-1">
    <div class="row p-2">
        <div class="col-6">
            <h3 style="color:#9381FF">Residents List</h3>
        </div>
        <div class="col-6 pt-2">
            <span class="text-end" style="width:100%;display:inline-block;text-align:right">
                <a asp-action="Create" class="btn" style="background-color:#9381FF; color:aliceblue">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create New
                </a>
            </span>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cluster)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cluster)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="bi bi-pencil-square" style="color:#9381FF; width:80%"></i> &nbsp;
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details">
                        <i class="bi bi-ticket-detailed-fill" style="color:#9381FF; width:80%"></i> &nbsp;
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="bi bi-trash3-fill" style="color:#9381FF; width:80%"></i> &nbsp;
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
