@model EstateViewModel

@{
    ViewData["Title"] = "Index";
    var estateId = Context.Request.Query["estateId"];
}

<div class="container p-1">
    <div class="row p-2">
        <div class="col-6">
            <h3 style="color:#9381FF">@Model.Name Units</h3>
        </div>
        <div class="col-6 pt-2">
            <span class="text-end" style="width:100%;display:inline-block;text-align:right">
                <a asp-action="CreateUnit" asp-controller="Estate" asp-route-estateId="@Model.Id" class="btn" style="background-color:#9381FF; color:aliceblue">
                    <i class="bi bi-plus-circle"></i> &nbsp; Add Unit
                </a>
            </span>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Estate
            </th>
            <th>
                Cluster
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Units)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cluster)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="bi bi-pencil-square" style="color:#9381FF; width:80%"></i> &nbsp;
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details">
                        <i class="bi bi-ticket-detailed-fill" style="color:#9381FF; width:80%"></i> &nbsp;
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="bi bi-trash3-fill" style="color:#9381FF; width:80%"></i> &nbsp;
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

